:root {
  --dark-gray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --very-dark-gray: hsl(0, 0%, 27%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: "Spartan", sans-serif;
  font-size: 12px;
}

.main-container {
  height: 65vh;
  width: 100%;
  display: flex;
}

.main-container header {
  flex: 2;
  background-image: url("images/desktop-image-hero-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.main-container header .navbar {
  display: flex;
  align-items: center;
  padding: 3rem;
}

.main-container header .navbar .hamburger-icon {
  cursor: pointer;
  margin-right: 7rem;
  display: none;
}

.main-container header .navbar ul {
  list-style: none;
  margin-left: 2rem;
}

.main-container .navbar ul li {
  display: inline-block;
  margin: 0 10px;
}

.main-container .navbar ul li a {
  text-decoration: none;
  text-transform: lowercase;
  color: var(--white);
  padding-bottom: 10px;
  position: relative;
}

.main-container .navbar ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2.5px;
  width: 0;
  background: var(--white);
}

.main-container .navbar ul li a:hover::after {
  width: 40%;
  transition: width 0.2s linear;
}

.main-container header .mobile-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
}

.main-container header .mobile-buttons button {
  outline: none;
  border: none;
  background: var(--black);
  padding: 1rem 1.5rem;
  cursor: pointer;
}

.main-container header .mobile-buttons button:hover {
  background: var(--dark-gray);
  transition: background 0.4s linear;
}

.main-container .hero-section {
  flex: 1;
  padding: 6rem 4.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container .hero-section h1 {
  font-size: 2rem;
  font-weight: 700;
  width: 90%;
}

.main-container .hero-section p {
  width: 90%;
  line-height: 1.2rem;
  margin-top: 1rem;
  color: var(--dark-gray);
  margin-bottom: 1.5rem;
}

.main-container .hero-section a {
  text-transform: uppercase;
  letter-spacing: 10px;
  text-decoration: none;
  color: var(--black);
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 90%;
  line-height: 1rem;
}

.main-container .hero-section a img {
  margin-left: 1.5rem;
}

.main-container .hero-section a:hover {
  color: var(--dark-gray);
}

.main-container .hero-section a:hover img {
  filter: invert(71%) sepia(10%) saturate(7%) hue-rotate(319deg) brightness(90%)
    contrast(86%);
}

.main-container .hero-section .buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
}

.main-container .hero-section .buttons button {
  outline: none;
  border: none;
  background: var(--black);
  padding: 1rem 1.5rem;
  cursor: pointer;
}

.main-container .hero-section .buttons button:hover {
  background: var(--dark-gray);
  transition: background 0.4s linear;
}

footer {
  height: 35vh;
  display: flex;
  align-items: center;
}

footer .image-about-dark {
  background-image: url("images/image-about-dark.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}

footer .about-section {
  height: 100%;
  padding: 4rem 2rem;
}

footer .about-section h4 {
  text-transform: uppercase;
  letter-spacing: 5px;
}

footer .about-section p {
  color: var(--dark-gray);
  margin-top: 1rem;
  line-height: 1.2rem;
}

footer .image-about-light {
  background-image: url("images/image-about-light.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}

@media (max-width: 1024px) {
  .main-container .hero-section {
    padding: 2rem 4rem;
  }

  .main-container .hero-section h1 {
    width: 100%;
    font-size: 1.5rem;
  }

  .main-container .hero-section p {
    width: 100%;
  }

  .main-container .hero-section a {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .main-container .navbar ul li {
    margin: 0 5px;
  }

  .main-container .hero-section h1 {
    font-size: 1rem;
  }

  .main-container .hero-section p {
    font-size: 10px;
  }

  .main-container .hero-section a {
    font-size: 10px;
  }

  footer .about-section {
    padding: 2rem;
  }

  footer p {
    font-size: 10px;
  }

  @media (max-width: 425px) {
    body {
      min-height: 100vh;
    }

    .main-container {
      flex-direction: column;
      min-height: 100vh;
    }

    .main-container header .navbar .hamburger-icon {
      display: block;
    }

    .main-container header .navbar ul {
      display: none;
    }

    .main-container header .mobile-buttons {
      display: flex;
    }

    .main-container .hero-section {
      padding: 3rem 2rem;
    }

    .main-container .hero-section h1 {
      font-size: 1.5rem;
    }

    .main-container .hero-section p {
      font-size: 11px;
      margin-bottom: 2rem;
    }

    .main-container .hero-section .buttons {
      display: none;
    }

    footer {
      flex-direction: column;
      min-height: 100vh;
    }

    footer .about-section {
      padding: 3rem 2rem;
    }
  }
}
